<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fady.BILAMI">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/appllogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/appllogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".OnClearFromRecentService" android:stopWithTask="false" />

        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" android:screenOrientation="portrait" />
        <activity android:name=".Main3ActivityNiv" android:screenOrientation="portrait" />
        <activity android:name=".Main3ActivityImage" android:screenOrientation="portrait"/>
        <activity android:name=".login" android:screenOrientation="portrait"/>
        <activity android:name=".Register" android:screenOrientation="portrait"/>
        <activity android:name=".Lobby" android:screenOrientation="portrait" />

    </application>

</manifest>